<h1>Movies</h1>
<ul class="no-bullets">
{{#each result}}
<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: "{{plot}}"</p>
{{#each result}}
<p>Cast: {{name}}</p>
{{/each}}
<a href="/movies/{{_id}}">Details</a> 
<br>
<br>
<br>
<a href="/movies/{{_id}}/edit">Edit</a>   
{{/each}}
</ul>
​<a class="backHomeLink" href="\">Back</a>